/* Estilos generales */
.container {
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
  }

  .loginshowLogin{
    display: block;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }

  .registershowRegister{
    display: block;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }

  .loginshowRegister{
    display: none;
  }

  .registershowLogin{
    display: none;
  }

  .login__header{
    display: flex;
    gap:20px;
    align-items: center;
  }
  
  
  label {
    display: block;
    margin-bottom: 5px;
    align-items: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="image"],
  input[type="backgroundImage"] {
    align-items: center;
    display: block;
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  button {
    align-items: center;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--twitter-color);
    color: var(--twitter-background);
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
 
  
  