Web/src/components/user/UserSimple.jsx
Api/.idea/.gitignore
Api/.idea/compiler.xml
Api/.idea/encodings.xml
Api/.idea/jarRepositories.xml
Api/.idea/kotlinc.xml
Api/.idea/misc.xml
Api/.idea/vcs.xml
Api/target/classes/META-INF/TwitterSystem.kotlin_module
Api/target/classes/org/AddReplyTweetDTO.class
Api/target/classes/org/AddReTweetDTO.class
Api/target/classes/org/AddTweetDTO.class
Api/target/classes/org/ApiKt.class
Api/target/classes/org/ApiKt$main$app$1$1.class
Api/target/classes/org/DraftUserDTO.class
Api/target/classes/org/ErrorDTO.class
Api/target/classes/org/Roles.class
Api/target/classes/org/SimpleTweetDTO.class
Api/target/classes/org/SimpleUserDTO.class
Api/target/classes/org/TokenController.class
Api/target/classes/org/TweetController.class
Api/target/classes/org/TweetController$addNewTweet$tweetDTO$1.class
Api/target/classes/org/TweetController$addNewTweet$tweetDTO$2.class
Api/target/classes/org/TweetController$addReTweet$reTweetDTO$1.class
Api/target/classes/org/TweetController$addReTweet$reTweetDTO$2.class
Api/target/classes/org/TweetController$replyTweet$replyTweetDTO$1.class
Api/target/classes/org/TweetController$replyTweet$replyTweetDTO$2.class
Api/target/classes/org/TweetDTO.class
Api/target/classes/org/TweetResulDTO.class
Api/target/classes/org/TwitterTypeDTO.class
Api/target/classes/org/UserController.class
Api/target/classes/org/UserController$login$userBody$1.class
Api/target/classes/org/UserController$login$userBody$2.class
Api/target/classes/org/UserController$login$userBody$3.class
Api/target/classes/org/UserController$register$userBody$1.class
Api/target/classes/org/UserController$register$userBody$2.class
Api/target/classes/org/UserController$register$userBody$3.class
Api/target/classes/org/UserController$register$userBody$4.class
Api/target/classes/org/UserController$register$userBody$5.class
Api/target/classes/org/UserController$register$userBody$6.class
Api/target/classes/org/UserDTO.class
Api/target/classes/org/UserGenerator.class
Api/target/classes/org/UserLoginDTO.class
Api/target/classes/org/UsersResultDTO.class
.idea/workspace.xml
Api/.idea/workspace.xml
Web/.idea/.gitignore
Web/.idea/misc.xml
Web/.idea/modules.xml
Web/.idea/vcs.xml
Web/.idea/Web.iml
.idea/.gitignore
.idea/2023s1-Grupo04.iml
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
Mobile/.idea/.gitignore
Mobile/.idea/misc.xml
Mobile/.idea/Mobile.iml
Mobile/.idea/modules.xml
Mobile/.idea/vcs.xml
.gitignore
Api/target/classes/org/Api.kt
Api/target/classes/org/DTOs.kt
Api/target/classes/org/Roles.kt
Api/target/classes/org/TokenController.kt
Api/target/classes/org/TweetController.kt
Api/target/classes/org/UserController.kt
