.users-to-follow{
    font-size: 20px;
    padding-left: 10px;
}

.users-to-follow h2{
    font-size: 20px;
    padding-left: 10px;
    text-align: center;
    font-family: "Segoe UI", Arial, sans-serif;
    font-style: italic;
}


.list_of_users_to_follow {
    display: flex;
    justify-content: center;
}

.list_of_users_to_follow .user-container {
    background-color: transparent;
    border: 2px solid var(--twitter-color) !important;
    color: black !important;
    border-radius: 30px !important;
    height: 60px !important;
    margin-top: 20px !important;
    padding: 0;
}
  